.bottom {
    background-color: #fbfbfb;
    border-top: 2px solid #ebebeb;
    transition: .5s;
}
.bottom-text {
    margin: 11px auto;
    font-size: 13px;
    text-align: center;
}
.copyright {
    float: left;
}
.organization {
    float: right;
}
