.bottom {
    background-color: #fbfbfb;
    height: 0;
    line-height: 40px;
    border-top: 2px solid #ebebeb;
    transition: .5s;
}
.bottom-text {
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.copyright {
    float: left;
}
.organization {
    float: right;
}
