$bg_color = #fff;
$bg_hover_color = darken($bg_color, 4);
$text_color = #1b1b1b;
$subtext_color = lightness($text_color, 45);
$button_color = #1b1b1b;
$button_hover_color = lightness($button_color, 15);
$lines_color = #e2e2e2;
$lines_dark_color = darken($lines_color, 20);
$note_color = darken(#e2e2e2, 40);