$bg_color = #fff;
$bg_color_hover = darken($bg_color, 4);
$text_color = #1b1b1b;
$text_sub_color = lightness($text_color, 45);
$button_color = #2864dc;
$button_color_hover = #1e50b4;
$line_color = #e2e2e2;
$line_color_dark = darken($line_color, 20);
$line_color_superdark = darken($line_color, 40);
$line_color_maxdark = #2b2b2b;
$vk_color = #5c82ab;
$ok_color = #f58220;