.page-note {
  box-sizing border-box
  width 100%
  padding: 20px
  margin: 20px 0
  border 1px solid #a2a2a2
  border-radius 5px
  float left
}
.page-note-body {
  text-align justify
}
.content {
  box-sizing border-box
  padding 0 20px
}
.infolist li {
  line-height: 30px;
  font-size: 16px;
}
.link-inside {
  padding: 0 5px;
  border-bottom: 2px solid #000;
  font-size: 12px;
  text-transform: uppercase;
  transition: .1s;
}
.link-inside:hover {
  padding: 0 10px;
}