@import "colors.styl"
.contacts-panel {
  width 100%
  border-bottom 1px solid #e2e2e2
}
.contacts {
  width: 1000px
  margin 0 auto
}
.contacts .contacts__table {
  display table
  table-layout fixed
  width 100%
}
.contacts__table .contacts__table__ceil {
  box-sizing border-box
  display table-cell
  padding 10px
  text-align center
  vertical-align middle
}