@import "colors.styl"
@import "simples.styl"

.content-page {
  width 100%
  margin-top 30px
  float left
}
.content-page__head {
  @extend .head
}
.content-page__head__title {
  @extend .title
}
.content-page__head__subtitle {
  @extend .subtitle
}
.content-page__body {
  @extend .body
}
.content-page__body__note {
  @extend .note
}
.content-page__body__note__title {
  @extend .note__title
}
.content-page__body__space {
  @extend .space
}
.content-page__body__title {
  @extend .title
}
.content-page__body__subtitle {
  @extend .subtitle
}

.infolist li {
  line-height 30px
  font-size 16px
}
.link-inside {
  padding 0 5px
  border-bottom:2px solid $text_color
  font-size 12px
  text-transform uppercase
  transition .1s
}
.link-inside:hover {
  padding 0 10px
}