.content {

}
.page-title {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.page-text {
  padding: 20px 0;
  text-align: justify;
}
.page-sub-title {
  padding: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.infolist li {
  line-height: 30px;
  font-size: 16px;
}
.link-inside {
  padding: 0 5px;
  border-bottom: 2px solid #000;
  font-size: 12px;
  text-transform: uppercase;
  transition: .1s;
}
.link-inside:hover {
  padding: 0 10px;
}