@import "colors.styl"
@import "simples.styl"

.contacts-container {
  width 100%
  border-bottom 1px solid $line_color
}
.contacts {
  width: 1000px
  margin 0 auto
}
.contacts-table {
  display table
  table-layout fixed
  width 100%
}
.contacts-table .contacts-table__ceil {
  display table-cell
  vertical-align middle
  text-align center
  padding 25px 10px
}
.contacts .contacts__data_text-small {
  @extend ._text-small
}
.contacts .contacts__data_text-big {
  @extend ._text-big
}