@import "colors.styl"
@import "simples.styl"

.contacts-container {
  width 100%
  border-bottom 1px solid $grey
}
.contacts {
  width: 1000px
  padding 20px 0
  margin 0 auto
}
.contacts-email {
  text-align center
}
.contacts-email .contacts-email__title.contacts-email__title_text-small {
  @extend ._text-small
}
.contacts-email .contacts-email__address.contacts-email__address_text-big {
  @extend ._text-big
}
.contacts-phone {
  text-align center
}
.contacts-phone .contacts-phone__title.contacts-phone__title_text-small {
  @extend ._text-small
}
.contacts-phone .contacts-phone__number.contacts-phone__number_text-big {
  @extend ._text-big
}

