.table-line {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-line__cell {
  display: table-cell;
  vertical-align: middle;
}
._show-on-load,
.theta-logo.theta-logo_show-on-load,
.switch-container.switch-container_show-on-load {
  transition: 1s;
  opacity: 0;
}
._text-big {
  font-size: 20px;
}
._text-small {
  color: #5b5b5b;
  font-size: 12px;
}
._social-button__vk_hover {
  background-color: #5c82ab;
}
._social-button__ok_hover {
  background-color: #f58220;
}
.main-logo,
.theta-logo .theta-logo__logo {
  background-image: url("/img/logo_b.png");
  background-size: 260px;
  width: 260px;
  height: 160px;
}
.social-logo {
  background-image: url("/img/social.png");
  background-size: 32px;
  width: 16px;
  height: 20px;
}
.social-logo_vk {
  background-position-x: 0;
}
.social-logo_ok {
  background-position-x: -16px;
}
.input-title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  float: left;
}
.input-value {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  font-size: 16px;
  float: left;
}
.input-submit {
  background-color: #643cfa;
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  float: left;
  transition: 0.3s;
}
._input-submit_hover {
  background-color: #643cdc;
}
.title,
.subtitle {
  width: 100%;
  margin-top: 5px;
  color: #1b1b1b;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  float: left;
}
.subtitle {
  padding: 10px 0 20px;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  color: #5b5b5b;
  font-size: 14px;
  text-transform: none;
}
.note {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  border: 1px solid #5b5b5b;
  border-radius: 5px;
  text-align: justify;
  float: left;
}
.note__title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  font-weight: bold;
}
.line {
  background-color: #e2e2e2;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  float: left;
}
.header-container {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}
.header {
  width: 980px;
  margin: 0 auto;
}
.theta-logo {
  box-sizing: border-box;
  width: 600px;
  height: 360px;
  margin: 30px 0;
  border-right: 1px solid #e2e2e2;
  float: left;
}
.switch-container {
  width: 380px;
  height: 360px;
  margin: 30px 0;
  float: left;
}
