@import "colors.styl"
@import "simples.styl"

.header-container {
  width 100%
  border-bottom 1px solid $line_color
}
.header {
  width: 1000px
  margin 0 auto
}
.theta-logo {
  box-sizing border-box
  width 600px
  height 360px
  margin 30px 0
  border-right 1px solid $line_color
  float left
}
.theta-logo.theta-logo_show-on-load {
  @extend ._show-on-load
}
.theta-logo .theta-logo__logo {
  @extend .main-logo
}
.switch-container {
  width 400px
  height 360px
  margin 30px 0
  float left
}
.switch-container.switch-container_show-on-load {
  @extend ._show-on-load
}
