@import "colors.styl"
@import "simples.styl"

.header-container {
  width 100%
  border-bottom 1px solid $line_color
}
.header {
  width: 1000px
  margin 0 auto
}
.header-logo {
  box-sizing border-box
  width 600px
  height 360px
  margin 30px 0
  border-right 1px solid $line_color
  float left
}
.header-logo.header-logo_show-load {
  @extend ._show-load
}
.header-logo .header-logo__logo {
  @extend .main-logo
}
.header-switch {
  width 400px
  height 360px
  margin 30px 0
  float left
}
.header-switch.header-switch_show-load {
  @extend ._show-load
}
