body {
    background-color: #fbfbfb;
    font-family: arial, sans-serif;
}
a, a:visited, a:hover, a:active, a:focus {
    color: #000;
    text-decoration: none;
}
.logo-panel {
    margin-top: 40px;
}
.logo {
    background-image: url('/img/logo_b.png');
    background-size: 260px;
    width: 260px;
    height: 160px;
    margin: auto;
}
.menu-panel {
    margin-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
}
.menu-link, .menu-link:hover {
    /background-color: red;
    color: #000;
    text-decoration: none;
    float: left;
}
.slider-panel {
    background-color: #dbdbdb;
    height: 2px;
}
.slider {
    background-color: #000;
    height: 2px;
    transition: .3s;
}
