.navigation {
    background-color: #fbfbfb;
}
.navigation-panel {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-transform: uppercase;
}
.navigation-link, .navigation-link:hover {
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
.slider-panel, .slider-panel-side {
    background-color: #ebebeb;
    height: 2px;
}
.slider {
    background-color: #000;
    height: 2px;
    transition: .5s;
}
