.navigation {
  background-color: $bg_color;
}
.navigation-panel {
  height: 38px;
  line-height: 40px;
  font-size: 12px;
  text-transform: uppercase;
}
.navigation-link,
.navigation-link:hover {
  color: $text_color;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.slider-panel,
.slider-panel-side {
  background-color: $lines_color;
  height: 2px;
}
.slider {
  background-color: $text_color;
  height: 2px;
  transition: 0.5s;
}
