@import "colors.styl"
@import "simples.styl"

.order {
}
.order-head {
}
.order-head .order-head__title {
  @extend .title
}
.order-head .order-head__subtitle {
  @extend .subtitle
  margin-bottom 20px
}
.order-body {
}
.order-body .order-body__line {
  @extend .line
}
.order-body .order-body__input-title {
  @extend .input-title
}
.order-body .order-body__input-value {
  @extend .input-value
}
.order-body .order-body__input-submit {
  @extend .input-submit
  margin-bottom 0
}
.order-body .order-body__input-submit:hover {
  @extend ._input-submit_hover
}
.order-online__button {
  @extend .input-submit
  width 140px
  margin 0 30px 0
  cursor pointer
  float right
}
.order-online__button:hover {
  @extend ._input-submit_hover
}