.wrap {
  position relative
  height 1000px
}
.wrap .content,
.wrap .sidebar-left,
.wrap .sidebar-right {
  position absolute
}
@media (min-width 1000px) {
  .content {
    right 300px
    margin 0 40px
  }
  .sidebar-left,
  .sidebar-right {
    width 300px
    height 1000px
    margin 0 20px
  }
  .sidebar-right {
    right 0
  }
  .sidebar-left {
    width 0
    overflow hidden
  }
}
@media (min-width 1280px) {
  .content {
    left 300px
    right 300px
    margin 0 40px
  }
  .sidebar-left,
  .sidebar-right {
    width 300px
    height 1000px
    margin 0 20px
  }
  .sidebar-right {
    right 0
  }
}
