.wrap {
  padding: 0 20px
}
@media (min-width: 1280px) {
  .wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .sidebar-left,
  .content,
  .sidebar-right {
    display: table-cell;
  }
}