@import "colors.styl"
@import "simples.styl"

.service {
  width 100%
  margin-top 40px
  float left
}
.service-note {
  @extend .note
}
.service-note .service-note__title {
  @extend .note__title
}
.service-head {
}
.service-head .service-head__title {
  @extend .title
}
.service-head .service-head__subtitle {
  @extend .subtitle
}
.service-body {
}
.service-body .service-body__title {
  @extend .title
  padding-top 20px
}
.service-body .service-body__subtitle {
  @extend .subtitle
  margin-bottom 0
  border-bottom none
}
.service-table {
  margin-bottom 30px
}
.service-annotation {
  width 100%
  padding-bottom 20px
  margin-bottom 30px
  border-bottom 1px solid $grey
}
.service-annotation .service-annotation__text {
  padding 5px 0
  color $black_light
  text-align justify
}
