.sidebar-left,
.sidebar-right
  box-sizing border-box
  width 300px
  padding-right 10px

.sidebar-page {
  box-sizing border-box
  background-color: #fff
  width 300px
  margin-top 20px
  padding: 20px
  border: 1px solid #e2e2e2
  border-radius: 5px
}
.sidebar-page .title,
.sidebar-page .subtitle {
  width 260px
}
