.sidebar-right .input-title,
.sidebar-right .input-value {
  box-sizing border-box
  width 260px
  margin-bottom: 10px
  text-align: center
  float: left
}
.sidebar-right .input-value {
  padding: 5px 10px
  border: 1px solid #d2d2d2
  border-radius: 5px
}