.sidebar {
  padding: 0 30px;
}
.sidebar-page {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.sidebar-page-title,
.sidebar-page-subtitle {
  color: #2b2b2b;
  text-transform: uppercase;
  text-align: center;
}
.sidebar-page-subtitle {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  color: #5b5b5b;
  font-size: 14px;
  text-transform: none;
}
