.sidebar {
  padding: 0 30px;
}
.sidebar-page {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 20px 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.sidebar-page-title,
.sidebar-page-subtitle {
  padding: 10px 0 0;
  color: #2b2b2b;
  text-transform: uppercase;
  text-align: center;
}
.sidebar-page-subtitle {
  padding: 0 0 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
  color: #5b5b5b;
  font-size: 14px;
  text-transform: none;
}
