@import "simples.styl"

.switch {
  width 280px
  float left
}
.switch .switch__line {
  @extend .line
  margin-bottom 40px
}
.switch-menu {
  display table
  table-layout fixed
  width 100%
  height 30px
  margin-bottom 20px
  border 1px solid $line_color
  border-radius 5px
}
.switch-button {
  display table-cell
  vertical-align middle
  text-align center
  cursor pointer
}
.switch-button_left {
  @extend .switch-button
  border-right 1px solid $line_color
}
.switch-button_select {
  @extend .switch-button
}
.switch-button__point {
  background-color: $line_color
  width 6px
  height 6px
  margin 12px 10px
  border-radius 3px
  float left
  transition .3s
}
.switch-button_select .switch-button__point {
  background-color: $line_color_maxdark
}
.switch-button:hover .switch-button__point {
  background-color: $line_color_dark
}
.switch-button_select:hover .switch-button__point {
  background-color: $line_color_superdark
}
.switch-button__text {
  line-height 30px
  float left
}
.switch-head {
  @extend .head
}
.switch-head .switch-head__title {
  @extend .title
  margin-top 0
}
.switch-head .switch-head__subtitle {
  @extend .subtitle
}
.switch-body {
  @extend .body
}
.switch-body .switch-body__line {
  @extend .line
}
.switch-body .switch-body__input-title {
  @extend .input-title
}
.switch-body .switch-body__input-value {
  @extend .input-value
}
.switch-body .switch-body__input-submit {
  @extend .input-submit
  margin-bottom 0
}
.switch-body .switch-body__input-submit:hover {
  @extend ._input-submit_hover
}