@import "simples.styl"

.switch {
  width 280px
  float left
}
.switch .switch__line {
  @extend .line
  margin-bottom 40px
}
.switch-menu {
  @extend .table-line
  height 30px
  margin 20px 0
  border 1px solid $line_color
  border-radius 5px
}
.switch-button {
  @extend .table-line__cell
  cursor pointer
}
.switch-button.switch-button_left {
  border-right 1px solid $line_color
}
.switch-button .switch-button__point {
  background-color: $line_color
  width 6px
  height 6px
  margin 12px 10px
  border-radius 3px
  float left
  transition .3s
}
.switch-button.switch-button_select .switch-button__point {
  background-color: $line_color_maxdark
}
.switch-button:hover .switch-button__point {
  background-color: $line_color_dark
}
.switch-button.switch-button_select:hover .switch-button__point {
  background-color: $line_color_superdark
}
.switch-button .switch-button__text {
  line-height 30px
  float left
}
.switch-block {
  display none
}
.switch-block.switch-block_show {
  display block
}