@import "simples.styl"

.switch {
  width 280px
  float left
}
.tabulator {
  @extend .table-line
  height 30px
  margin 20px 0 30px
  border 1px solid $line_color
  border-radius 5px
}
.tabulator-button {
  @extend .table-line__cell
  border-right 1px solid $line_color
  cursor pointer
}
.tabulator-button.tabulator-button_last {
  border-right none
}
.tabulator-button .tabulator-button__point {
  background-color $line_color
  width 6px
  height 6px
  margin 12px 10px
  border-radius 3px
  float left
  transition .3s
}
.tabulator-button.tabulator-button_select .tabulator-button__point {
  background-color: $line_color_maxdark
}
.tabulator-button:hover .tabulator-button__point {
  background-color: $line_color_dark
}
.tabulator-button.tabulator-button_select:hover .tabulator-button__point {
  background-color: $line_color_superdark
}
.tabulator-button .tabulator-button__text {
  line-height 30px
  float left
}
.tabulator-body {
  padding-top 40px
  border-top 1px solid $line_color
}
.tabulator-block {
  display none
  opacity 0
  transition .2s
}
.tabulator-block.tabulator-block_select {
  display block
  opacity 1
}