tableHead() {
  box-sizing border-box
  display table-cell
  padding 15px 20px
  text-align center
  font-size 14px
  font-weight bold
  vertical-align middle
}
tableCeil() {
  box-sizing border-box
  display table-cell
  padding 7px 10px
  text-align center
  vertical-align middle
  cursor pointer
}
ceilWidth(count) {
  width (10 * count)%
}
.table-title {
  font-size 16px
}
.table-subtitle {
  padding-bottom 0
  margin 0
  border none
}
.table {
  width 100%
  margin-top 20px
  border 1px solid #e2e2e2
  border-radius 5px
  float left
}
.table-line-head, .table-line {
  display table
  table-layout fixed
  width 100%
}
.table-line {
  border-top 1px solid #e2e2e2
  transition .1s
}

.table-line:hover {
  background-color: #f6f6f6
}
.table-head-1,
.table-head-2,
.table-head-3,
.table-head-4,
.table-head-5,
.table-head-6,
.table-head-7,
.table-head-8,
.table-head-9,
.table-head-10 {
  tableHead()
}
.table-ceil-1,
.table-ceil-2,
.table-ceil-3,
.table-ceil-4,
.table-ceil-5,
.table-ceil-6,
.table-ceil-7,
.table-ceil-8,
.table-ceil-9,
.table-ceil-10 {
  tableCeil()
}
.table-head-1,
.table-ceil-1 {
  ceilWidth(1)
}
.table-head-2,
.table-ceil-2 {
  ceilWidth(2)
}
.table-head-3,
.table-ceil-3 {
  ceilWidth(3)
}
.table-head-4,
.table-ceil-4 {
  ceilWidth(4)
}
.table-head-5,
.table-ceil-5 {
  ceilWidth(5)
}
.table-head-6,
.table-ceil-6 {
  ceilWidth(6)
}
.table-head-7,
.table-ceil-7 {
  ceilWidth(7)
}
.table-head-8,
.table-ceil-8 {
  ceilWidth(8)
}
.table-head-9,
.table-ceil-9 {
  ceilWidth(9)
}
.table-head-10,
.table-ceil-10 {
  ceilWidth(10)
}