@import "colors.styl"
@import "simples.styl"

.top-container {
  display none
  position fixed
  background-color: $bg_color
  top -100
  width 100%
  box-shadow 1px 1px 15px 0px #6b6b6b
  transition .3s
}
.top {
  width: 1000px
  padding 20px 0
  margin 0 auto
}
.top-logo {
  height 23px
  margin-left 30px
}
.top-logo .top-logo__logo {
  @extend .main-logo
  background-size 130px;
  background-position-y 23px
  width 130px
  height 23px
}
.order-online__button {
  @extend .input-submit
  width 140px
  margin 0 30px 0
  cursor pointer
  float right
}
.order-online__button:hover {
  @extend ._input-submit_hover
}