@import "colors.styl"

.top {
  width 100%
  padding 40px 0 50px
  border-bottom 2px solid $lines_color
  clear both
}
.logo-panel {
  margin: 40px 0;
}
.logo {
  background-image: url('/img/logo_b.png');
  background-size: 260px;
  width: 260px;
  height: 160px;
  margin: auto;
}
