@import "colors.styl"
@import "simples.styl"

.header-container {
  background-size 100%
  width 100%
  border-bottom 1px solid $grey
}
.header {
  width: 980px
  margin 0 auto
}
.theta-logo {
  box-sizing border-box
  width 600px
  height 360px
  margin 30px 0
  border-right 1px solid $grey
  float left
}
.theta-logo .theta-logo__logo {
  @extend .main-logo
}