@import "colors.styl"
@import "simples.styl"

a,
a:visited,
a:active {
  color $purple
}
a:hover {
  color $purple_dark
}
h1,
h2,
h3,
h4,
h5 {
  padding 0
  margin 0
  font-weight normal
}
table {
  margin 0
  padding 0
}
input {
  text-align center
}

.menu-container {
  width 100%
  border-bottom 1px solid $grey
}
.menu {
  width 980px
  line-height 35px
  margin 0 auto
}
.menu-slide {
  width 100%
  height 0px
  float left
}
.menu-slide .menu-slide__slider {
  background-color: $black
  width 100px
  height 2px
  transition .3s
}
.menu-logo {
  width 65px
}
.menu-sector {
}
.menu-sector.menu-sector_logo {
  width 100px
}
.menu-sector .menu-sector__link {
  display block
  padding 5px 15px
  float left
  cursor pointer
}
.menu-sector_logo .menu-sector__link.menu-sector_logo__link {
  @extend .main-logo
  background-size 65px;
  background-position-y 0px
  width 65px
  height 25px
  padding 0
}